<div class="navbar navbar-inverse navbar-fixed-top" id="navbar" ng-controller="bannerCtrl">

    <div class="container">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          	<span class="icon-bar"></span>
	          	<span class="icon-bar"></span>
	          	<span class="icon-bar"></span>
        	</button>
            <a class="navbar-brand logo visible-loggedIn" href="#/banner/list"><span class="hidden">OUTFITTERY</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right text-white text-uppercase">
           		<li>
              		<h4>Hello, <strong><span ng-bind="currentUser.firstName"></span>!</strong></h4>
              	</li>
              	<li>
					<a href="#/logout" ng-click="logout()"class="btn btn-primary btn-black-primary">Logout</a>
              	</li>
      		</ul>
      	</div>
    </div>

</div>

<div class="mt-nav" ui-view></div>