<div class="container">
	
	<h3>Enter some of your details below</h3>

	<div class="row" ng-controller="regStep">
		

			<form role="form" ng-submit="addInfo(credentials)">

				<div class="col-md-4">
					<div class="form-group">
						<label>Salutation</label>
						<select class="form-control" ng-model="credentials.salutation" required>
						  <option value="1">Herr</option>
						  <option value="2">Frau</option>
						</select>
					</div>
					<div class="form-group">
					  <label for="inputEmail">Name</label>
					  <input type="text" ng-model="credentials.firstName" class="form-control" placeholder="Enter your first name" required>
					</div>
					<div class="form-group">
					  <label for="exampleInputPassword1">Last Name</label>
					  <input type="text" ng-model="credentials.lastName" class="form-control" placeholder="Enter your last name" required>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</div>

			</form>

  </div>
</div>